
<div class="container">

	<div class="row">
		<div class="col-md-12">
			<img src="/assets/img/burger.jpeg" alt="burger" class="img-responsive center-block">
		</div>
	</div>



	<div class="row">
		<div class="col-md-12">
			<h1 class="text-center text-danger">Eat-Da-Burger</h1>
		</div>
	</div>



	<div class="row">
		<div class="col-md-5">
			
			<ul>
				{{#each burgers}}
					{{#unless this.devoured}}
						<li>
							<h5>{{this.id}} - {{this.burger_name}}
								<form action='burgers/updateOne/{{this.id}}?_method=PUT' method='POST'>
									<input type='hidden' name='devoured' value='true'>
									<button type='submit' class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
									data-newDevoured="{{devour}}"><span class="fa fa-usd"></span>Devour it</button>
								</form>
							</h5>
						</li>
					{{/unless}}
				{{/each}}
			</ul>
		</div>


	<div class="col-md-2">


		<div class="col-md-5">
			
			<ul>
				{{#each burgers}}
					{{#if this.devoured}}
						<li>
							<h5>{{this.burger_name}}</h5>
						</li>
					{{/if}}
				{{/each}}
			</ul>
		</div>

	</div>

	<br><br>


<div class="row">
		<div class="col-md-12 text-center">
			<form class="create-update-form" action="burgers/insertOne" method="POST">
				<div class="form-group">
				
					<input type="text" name="burger_name" id="name" placeholder=""></input><br>
					<button class="btn btn-default" type="submit">Submit</button>
					<h5 class="text-center">Enter a burger you want to eat  "Click" Submit button.</h5>
				</div>
			</form>
		</div>
</div>
</div>